@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #212121;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
} 

header {
  position: relative;
  width: 90%;
  height: 90%;
  border: 1px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 25px -1px #000;
}

header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('img/movie-time.avif') no-repeat center center/cover;
  opacity: .6;
  z-index: -1;
}


header::after {
  content: '';
  position: absolute;
  height: 100%;
  background: linear-gradient(100deg, transparent, #000);
}

header video {
  position: absolute;
  width: 140%;
  height: 200%;
  top: -50%;
  z-index: -1;
}

header nav {
  width: 100%;
  height: 10%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

header nav .logo_v1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .logo_v1 img {
  width: 90px ;
}

header nav .logo_v1 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header nav .logo_v1 li {
  padding: 3px 15px;
}

header nav .logo_v1 li *{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  transition: .3s linear;
}

header nav .logo_v1 li *:hover {
  color: #780EF2;
}

header nav .search_user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .search_user input {
  padding: 3px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #212121;
  color: #fff;
}

header nav .search_user input::-webkit-input-placeholder {
  color: #fff;
}

header nav .search_user input::-moz-placeholder {
  color: #fff;
}

header nav .search_user input:-ms-input-placeholder {
  color: #fff;
}

header nav .search_user input::-ms-input-placeholder {
  color: #fff;
}

header nav .search_user input::placeholder {
  color: #fff;
}


header nav .search_user img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

header nav .search_user .search {
  position: absolute;
  width: 320px;
  height: 270px;
  /* border: 1px solid #fff; */
  right: 0;
  top: 58px;
  z-index: 99999;
  overflow-y: auto;
}

header nav .search_user .search::-webkit-scrollbar {
  width: 5px;
  background: rgb(255, 255, 255, .3);
  border-radius: 5px;
  visibility: hidden;
}

header nav .search_user .search::-webkit-scrollbar-thumb {
  width: 5px;
  background: rgb(255, 255, 255, .3);
  border-radius: 5px;
  visibility: hidden;
}

header nav .search_user .search:hover::-webkit-scrollbar {
  visibility: visible;
}

header nav .search_user .search:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

header nav .search_user .search .card {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 3px 0px;
  text-decoration: none;
}

header nav .search_user .search .card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #b8b8b8;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 5px;
  z-index: -1;
}

header nav .search_user .search .card img {
  width: 20px;
  height: 98%;
  border-radius: 2px;
  margin-left: 8px;
}

header nav .search_user .search .card .cont {
  margin-left: 10px;
  color: #fff;
}

header nav .search_user .search .card .cont h3 {
  font-size: 25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

header nav .search_user .search .card .cont p {
  font-size: 10px;
  color: aliceblue;
}

header nav .search_user .search .card .cont span {
  background: yellow;
  color: #000;
  padding: 0px 3px;
  margin: 0px 5px 0px 10px;
  font-weight: 500;
}

header .content {
  position: relative;
  color: #fff;
  margin-top: 150px;
  padding-left: 50px;
}

header .content h1 {
  font-size: 50px;
}

header .content p {
  font-size: 11px;
  width: 350px;
  word-break: break-all;
}

header .content .details {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

header .content .details h4 {
  color: rgb(255, 255, 255, .8);
  font-size: 10px;
  margin-right: 10px;
}

header .content .details h5 {
  color: rgb(142, 230, 45);
  font-size: 10px;
  margin-right: 10px;
}

header .content .details h4 {
  color: #fff;
  font-size: 10px;
  margin-right: 10px;
}

header .content .details h3 {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 10px;
}

header .content .details h3 span {
  background: yellow;
  color: #000;
  padding: 0px 3px;
  margin: 0px 5px 0px 5px;
  font-weight: 500;
}

header .content .details h3 i {
  margin-right: 5px;
}

header .content .btns {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

header .content .btns a {
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(90deg, #00bdff, #0079ff);
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 10%;
  -webkit-animation: button 1s linear infinite ;
          animation: button 1s linear infinite ;
}

@-webkit-keyframes button {
  0%{ background: linear-gradient(0deg, #00bdff, #0079ff); }
  12%{ background: linear-gradient(45deg, #00bdff, #0079ff); }
  24%{ background: linear-gradient(95deg, #00bdff, #0079ff); }
  36%{ background: linear-gradient(145deg, #00bdff, #0079ff); }
  43%{ background: linear-gradient(195deg, #00bdff, #0079ff); }
  60%{ background: linear-gradient(245deg, #00bdff, #0079ff); }
  72%{ background: linear-gradient(295deg, #00bdff, #0079ff); }
  100%{ background: linear-gradient(360deg, #00bdff, #0079ff); }
}

@keyframes button {
  0%{ background: linear-gradient(0deg, #00bdff, #0079ff); }
  12%{ background: linear-gradient(45deg, #00bdff, #0079ff); }
  24%{ background: linear-gradient(95deg, #00bdff, #0079ff); }
  36%{ background: linear-gradient(145deg, #00bdff, #0079ff); }
  43%{ background: linear-gradient(195deg, #00bdff, #0079ff); }
  60%{ background: linear-gradient(245deg, #00bdff, #0079ff); }
  72%{ background: linear-gradient(295deg, #00bdff, #0079ff); }
  100%{ background: linear-gradient(360deg, #00bdff, #0079ff); }
}

header section {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 0px 50px;
  bottom: 20px;
  color: #fff;
}

header section .cards {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid #fff;
  margin-top: 10px;
  display: flex;
  align-items: center;
  overflow: auto;
}

header section .cards .card {
  position: relative;
  min-width: 130px;
  height: 180px;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-right: 10px;
  background: #000;
  transition: .3s linear;
}







